.toastContainer {
    z-index: 9999 !important;
}

.time {
    display: inline-block;
}

.time .dice {
    color: #343a40;
    font-size: 13px;
    padding: 5px;
    border-radius: 4px;
    background-color: #f1d7dd;
}

.time .split {
    color: #343a40;
    font-weight: 700;
    padding: 3px;
}

/* 
Colores generados por logo crediself

#ebf8f9 #09748e #07b0de #26c8f0 #67a6b3 #0b505d #0796bc #10a7c6

*/